@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.game-screen {
  width: 980px;
  height: 564px;
  border: 10px solid brown;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.game-screen .commands {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.game-screen .commands #menu {
  left: 0;
}

.game-screen .commands #pause {
  right: 0;
}

.game-screen .commands button {
  position: absolute;
  top: 0;
  width: 75px;
  height: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  border: 3px solid brown;
  border-radius: 5px;
}

.game-screen .game {
  width: 2880px;
  height: 544px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.game-screen .game .landscape {
  width: 2880px;
  height: 544px;
  position: relative;
  background-image: url("../img/bg_test/testbg-first.png");
  background-color: black;
}

.game-screen .game .car {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 100px;
  bottom: 20px;
}

.game-screen .game .car #car-body {
  width: 250px;
}

.game-screen .game .car .car-wheels {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0;
}

.game-screen .game .car #car-wheel-front {
  right: 27px;
}

.game-screen .game .car #car-wheel-back {
  left: 15.5px;
}

.game-screen .game .events .event {
  visibility: hidden;
  width: 850px;
  height: 470px;
  position: absolute;
  left: 55px;
  top: 57px;
  background-color: wheat;
  border: 5px solid brown;
}

.game-screen .game .events .event button {
  width: 110px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  border: 3px solid brown;
  border-radius: 5px;
}

.game-screen .game .events .event p {
  padding: 10px;
  margin: 10px;
  text-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.game-screen .game .events .event h2 {
  font-family: "Roboto", sans-serif;
}

.game-screen .game .events #intro {
  visibility: visible;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  padding-top: 30px;
}

.game-screen .game .events #intro p {
  text-align: left;
  font-family: "Roboto Mono", monospace;
}

.game-screen .game .events #event1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.game-screen .game .events #event1 #event1-reset, .game-screen .game .events #event1 #event1-advance, .game-screen .game .events #event1 #event1-message {
  display: none;
}

.game-screen .game .events #event1 .dropabble {
  display: flex;
  width: 800px;
  margin: auto;
}

.game-screen .game .events #event1 .dropabble img {
  width: 100%;
  height: 100%;
}

.game-screen .game .events #event1 .dropabble .initial-position {
  margin: 5px;
  width: 200px;
  height: 150px;
}

.game-screen .game .events #event1 .dropabble .end-position {
  margin: 5px;
  width: 200px;
  height: 150px;
  border: 1px solid black;
}

.game-screen .game .events #event3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/eventThree/cliff.svg");
  overflow: hidden;
}

.game-screen .game .events #event3 #event3-reset, .game-screen .game .events #event3 #event3-advance, .game-screen .game .events #event3 #event3-message {
  display: none;
}

.game-screen .game .events #event3 #event3-message {
  align-items: center;
}

.game-screen .game .events #event3 #progress-bar {
  margin-top: 5px;
  width: 80%;
  height: 30px;
  background-color: grey;
}

.game-screen .game .events #event3 #bar {
  width: 0%;
  height: 30px;
  background-color: red;
}

.game-screen .game .events #event3 .car {
  left: 20px;
  bottom: 160px;
}

.game-screen .game .events #event3 #event3-car-wheel-front {
  right: 27px;
}

.game-screen .game .events #event3 #event3-car-wheel-back {
  left: 15.5px;
}

.game-screen .game .events #event4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.game-screen .game .events #event4 .car {
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 5;
  transition: 2s linear;
}

.game-screen .game .events #event4 #event4-car-wheel-front {
  right: 27px;
  transition: 2s linear;
}

.game-screen .game .events #event4 #event4-car-wheel-back {
  left: 15.5px;
  transition: 2s linear;
}

.game-screen .game .events #event4 .energy-change {
  height: 250px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-screen .game .events #event4 .energy-change .button-check {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 25px;
}

.game-screen .game .events #event4 .energy-change .button-check img {
  visibility: hidden;
  width: 50px;
  height: 50px;
}

.game-screen .game .events #event4 .energy-change .image-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
}

.game-screen .game .events #event4 .energy-change h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  font-family: "Roboto Mono", monospace;
}

.game-screen .game .events #event4 .energy-change img {
  width: 100%;
  height: 100%;
  background-color: wheat;
}

.game-screen .game .events #event4 .energy-change .current-energy {
  position: relative;
  padding: 5px 0;
  height: 95px;
  width: 20%;
  border: 1px solid black;
}

.game-screen .game .events #event4 .energy-change .energy-options {
  display: flex;
  flex-direction: row;
  height: 105px;
  width: 100%;
  justify-content: space-between;
}

.game-screen .game .events #event4 .energy-change .energy-options .energy-option {
  position: relative;
  padding: 5px 0;
  height: 95px;
  width: 20%;
  border: 1px solid black;
}

.game-screen .game .events #event4 .energy-change .energy-options .energy-option #h3-diesel {
  color: #d4aa00ff;
}

.game-screen .game .events #event4 .energy-change .energy-options .energy-option #h3-gasoline {
  color: #0000ffff;
}

.game-screen .game .events #event4 .energy-change .energy-options .energy-option #h3-gas {
  color: #c83737ff;
}

.game-screen .game .events #event4 .energy-change .energy-options .energy-option #h3-electric {
  color: #008000ff;
}

.game-screen .game .events #event4 #event4-finish {
  position: relative;
  top: 50px;
  z-index: 1;
  width: 230px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  border: 3px solid brown;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 1024px;
  background-color: cadetblue;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content header {
  width: 960px;
  height: 120px;
  text-align: center;
}

.content header #logo {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 3em;
  margin: 10px;
}

.content header h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  margin: 10px auto;
}

.content main.game-screen {
  margin: 10px 0;
}

.content footer {
  width: 960px;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.content footer button {
  width: 80px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  font-weight: bold;
  color: darkslategray;
  background-color: white;
  border: 3px solid brown;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */