@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.game-screen {
  width: 980px;
  height: 564px;
  border: 10px solid brown;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.game-screen .commands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.game-screen .commands #menu {
  left: 0;
}

.game-screen .commands #pause {
  right: 0;
}

.game-screen .commands button {
  position: absolute;
  top: 0;
  width: 75px;
  height: 30px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  border: 3px solid brown;
  border-radius: 5px;
}

.game-screen .game {
  width: 1920px;
  height: 544px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.game-screen .game .bg {
  width: 960px;
  height: 544px;
  position: relative;
}

.game-screen .game #bg-first {
  background-image: url("../img/bg_test/testbg-first.png");
}

.game-screen .game #bg-second {
  background-image: url("../img/bg_test/testbg-second.png");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 1024px;
  background-color: cadetblue;
}

.content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content header {
  width: 960px;
  height: 120px;
  text-align: center;
}

.content header #logo {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 3em;
  margin: 10px;
}

.content header h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  margin: 10px auto;
}

.content main.game-screen {
  margin: 10px 0;
}

.content footer {
  width: 960px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content footer button {
  width: 80px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  font-weight: bold;
  color: darkslategray;
  background-color: white;
  border: 3px solid brown;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */