.game-screen{
    width: 980px;
    height: 564px;
    border: 10px solid $color_border;
    background-color: white;
    overflow: hidden;
    position: relative;
    .commands{
        @include flexJustAli(space-between, flex-start);
        #menu{
            left: 0;
        }
        #pause{
            right: 0;
        }
        button{
            position: absolute;
            top: 0;
            width: 75px;
            height: 30px;
            // padding: 10px;
            margin: 10px;
            @include flexCenter(row);
            font-family: $font_mono;
            font-size: $size_font-S;
            font-weight: bold;
            color: $color_font-light;
            background-color: $color_button-dark;
            border: 3px solid $color_border;
            border-radius: 5px;
        }
    }
    .game{
        width: 2880px;
        height: 544px;
        @include flexCenter(row);
        .landscape{
            width: 2880px;
            height: 544px;
            position: relative;
            background-image: url("../img/bg_test/testbg-first.png");
            background-color: black ;
        }
        .car{
            width: 250px;
            height: 100px;
            position: absolute;
            left: 100px;
            bottom: 20px;
            #car-body{
                width: 250px;
            }
            .car-wheels{
                width: fit-content;
                height: fit-content;
                position: absolute;
                bottom: 0;
            }
            #car-wheel-front{
                right: 27px;
            }
            #car-wheel-back{
                left: 15.5px;
            }
        }
        .events{
            .event{
                visibility: hidden;
                width: 850px;
                height: 470px;
                position: absolute;
                left: 55px;
                top: 57px;
                background-color: $color_event-bg;
                border: 5px solid $color_border;
                button{
                    width: 110px;
                    height: 30px;
                    padding: 10px;
                    margin: 10px;
                    @include flexCenter(column);
                    justify-self: center;
                    font-family: $font_mono;
                    font-size: $size_font-S;
                    font-weight: bold;
                    color: $color_font-light;
                    background-color: $color_button-dark;
                    border: 3px solid $color_border;
                    border-radius: 5px;
                }
                p {
                    padding: 10px;
                    margin: 10px;
                    text-align: center;
                    align-items: center;
                    $size_font-S: 1em;
                    font-family: $font_standard;
                    
                }
                h2 {
                    font-family: $font_standard;
                    $size_font-M: 2em;
                }
            }
            #intro {
                visibility: visible;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 60px;
                padding-top: 30px;
                h1{
                    color: $color_font-light;
                    font-family: $font_standard;
                    font-size: $size_font-M;
                    margin: 10px auto;
                }
                p {
                    text-align: left;
                    font-family: $font_mono ;
                }
            }
            #event1 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                #event1-reset ,#event1-advance {
                    display: none;
                }

                #event1-message {
                    display: none;
                    position: absolute;
                    top: 70px;
                }
                .dropabble {
                    display: flex;
                    width: 800px;
                    margin: auto;
                    
                    img {
                        width: 100%;
                        height: 100% ;
                        
                    }
                    .initial-position {
                        margin: 5px;
                        width: 200px;
                        height: 150px;
                        
                    }
                    .end-position {
                        margin: 5px;
                        width: 200px;
                        height: 150px;
                        border: 1px solid black;
                    }
                }
            }
            #event3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url("../img/eventThree/cliff.svg");
                overflow: hidden;
                #event3-reset ,#event3-advance, #event3-message {
                    display: none;
                }
                #event3-message {
                    align-items: center;
                }
                #progress-bar {
                    margin-top: 5px;
                    width: 80%;
                    height: 30px;
                    background-color: grey;
                }
                #bar {
                    width: 0%;
                    height: 30px;
                    background-color: red;
                }
                .car{
                    left: 20px;
                    bottom: 160px;
                }
                #event3-car-wheel-front{
                    right: 27px;
                }
                #event3-car-wheel-back{
                    left: 15.5px;
                }
            }
            #event4 {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                overflow: hidden;
                .car {
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 15px;
                    z-index: 5;
                    transition: 2s linear;
                }
                #event4-car-wheel-front{
                    right: 27px;
                    transition: 2s linear;
                }
                #event4-car-wheel-back{
                    left: 15.5px;
                    transition: 2s linear;
                }
                .energy-change {
                    height: 250px;
                    width: 80%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .button-check {
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        left: 25px;
                        img {
                            visibility: hidden;
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .image-container {
                        height: 100%;
                        width: 100%;
                        position: relative;
                        z-index: 10;
                        
                    }
                    h3 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        z-index: 0;
                        font-family: $font_mono;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        background-color:$color_event-bg ;
                        
                    }
                    .current-energy {
                        position: relative;
                        padding: 5px 0;
                        height: 95px;
                        width: 20%;
                        border: 1px solid black;
                    }
                    .energy-options {
                        display: flex;
                        flex-direction: row;
                        height: 105px;
                        width: 100%;
                        justify-content: space-between;
                        .energy-option {
                            position: relative;
                            padding: 5px 0;
                            height: 95px;
                            width: 20%;
                            border: 1px solid black;
                            #h3-diesel {
                                color: #d4aa00ff;
                            }
                            #h3-gasoline {
                                color: #0000ffff;
                            }
                            #h3-gas {
                                color: #c83737ff;
                            }
                            #h3-electric {
                                color: #008000ff;
                            }
                        }
                    }
                }
                #event4-finish{
                    position: relative;
                    top: 40px;
                    z-index: 1;
                    width: 230px;
                    height: 30px;
                    padding: 10px;
                    margin: 10px;
                    @include flexCenter(column);
                    justify-self: center;
                    font-family: $font_mono;
                    font-size: $size_font-S;
                    font-weight: bold;
                    color: $color_font-light;
                    background-color: $color_button-dark;
                    border: 3px solid $color_border;
                    border-radius: 5px;
                }
            }
        }
    }
}
